{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}La Casa del Libro{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>

{% for message in messages %}
    <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}success{% endif %}" role="alert" style="margin: 1rem;">
        {{ message }}
    </div>
{% endfor %}

<main>
    {% block content %}
    {% endblock %}


</main>

</body>
</html>