{% extends 'base.html' %}
{% load static %}

{% block content %}

<div style="padding: 2rem;">
    <h4>{{ proyecto.nombre }}</h4>
    <small style="color: gray;">Estándar: {{ proyecto.estandard }}</small>
    
    <div style="margin-top: 2rem; overflow-x: auto;">
        <table id="data-table" class="display" style="width:100%">
            <thead>
                <tr>
                    {% for col in columns %}
                        <th>{{ col }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in rows %}
                <tr>
                    {% for cell in row %}
                        <td>{{ cell }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<link rel="stylesheet" href="https://cdn.datatables.net/2.3.7/css/dataTables.dataTables.css">
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="https://cdn.datatables.net/2.3.7/js/dataTables.js"></script>

<script>
    $(document).ready(function () {
        $('#data-table').DataTable({
            pageLength: 25,
            //language: {
              //  url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/es-ES.json'
            //}
        });
    });
</script>

{% endblock %}